@media screen and (max-width: 1384px){
	@media (max-width: 1000px) {
		.header__wrap .menu {
		  display: none;
		}
		.images{
			display: none;
		}
        .header__wrap{
            margin-top: 10px;
        }
		.hamb {
		  display: flex;
		  align-items: center;
		}
	  
		.hamb__field {
		  padding: 10px 20px;
		  cursor: pointer;
		}
	  
		.bar {
		  display: block;
		  width: 30px;
		  height: 3px;
		  margin: 6px auto;
		  background-color: #fff;
		  transition: 0.2s;
		}
	  
		.popup {
		  position: fixed;
		  top: 75px;
		  left: -100%;
		  width: 100%;
		  height: 100%;
		  background-color: #fff;
		  z-index: 100;
		  display: flex;
		  transition: 0.3s;
		}
	  
		.popup.open {
		  left: 0;
		}
	  
		.popup .menu {
		  width: 100%;
		  height: 100%;
		  display: flex;
		  flex-direction: column;
		  align-items: center;
		  justify-content: start;
		  padding: 50px 0;
		  overflow: auto;
		}
	  
		.popup .menu > li {
		  width: 100%;
		}
	  
		.popup .menu > li > a {
		  width: 100%;
		  display: flex;
		  justify-content: center;
		  padding: 20px 0;
		  font-size: 20px;
		  font-weight: bold;
		  color: #3f3f3f;
		}
	  
		.popup .menu > li > a:hover {
		  background-color: rgba(122, 82, 179, 0.1);
		}
	  
		.hamb__field.active .bar:nth-child(2) {
		  opacity: 0;
		}
	  
		.hamb__field.active .bar:nth-child(1) {
		  transform: translateY(8px) rotate(45deg);
		}
	  
		.hamb__field.active .bar:nth-child(3) {
		  transform: translateY(-8px) rotate(-45deg);
		}
	  
		body.noscroll {
		  overflow: hidden;
		}
	  }
    }
	@media screen and (max-width: 800px){
		.flex{
			display: block;
		}
		img.rot{
			margin-left: 0;
		}
	}
	@media screen and (max-width: 700px){
		.main_tit{
			font-size: 45px;
		}
		.slide{
			margin: 0 auto;
			font-size: 34px;
		}
	}
	@media screen and (max-width: 1090px) {
		.img_1 {
			position: absolute;
			Width: 230px;
			Height: 230px;
			Top: -208.65999999999997px;
			Left: -342px;
		}
	
		.img_2 {
			position: absolute;
			Width: 288px;
			Height: 391px;
			Top: 115.09px;
			left: -315px;
		}
	
		.img_3 {
			position: absolute;
			Width: 331px;
			Height: 326px;
			Top: -88.91px;
			Left: -177px;
		}
	
		.img_4 {
			position: absolute;
			Width: 230px;
			Height: 304px;
			Top: 156.09px;
			Left: 114px;
		}
	
	
		.img_5 {
			position: absolute;
			Width: 108px;
			Height: 151px;
			Top: 524.66px;
			Left: 214px;
		}
	
		.img_6 {
			position: absolute;
			Width: 302px;
			Height: 338px;
			Top: 611px;
			Left: 359px;
		}
	
		.img_7 {
			position: absolute;
			Width: 245px;
			Height: 313px;
			Top: 333.09000000000003px;
			Left: 570px;
		}
	}