html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	width: 100%;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

body {
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Manrope', arial, sans-serif;
}

.container {
	max-width: 1440px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.dn {
	display: none;
}

.tb {
	transition: 0.3s;
}

.tb:hover {
	background: #000;
	color: white;
}

section {
	padding: 100px 0;
}

.sec_tit {
	font-weight: 800;
	font-size: 42px;
	line-height: 57px;
	text-align: center;
	margin: 0 auto;
}

.color {
	color: #BE963F;
}

.dib {
	display: inline-block;
}

.hover {
	transition: 0.3s;
}

.hover:hover {
	color: #BE963F;
}
.btn {
	border-radius: 40px;
	font-weight: 400;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	color: #34280E;
	border: 1px solid #000;
	height: 47px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 14px 0;
	transition: 0.3s;
	width: 190px;
	gap: 15px;
}

.btn:hover {
	background: #000;
	color: white;
}

.link {
	transition: 0.3s;
}
.btn_img{
	transition: 0.3s;
	width: 34px;
	height: 14px;
}
.link:hover {
	box-shadow: 0px 6px 5px 2px #836A36;
}
.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 68px;
	background: #FCF0F0;
	z-index: 100;
  }
  
  .header__wrap {
	display: flex;
	justify-content: space-between;
	height: 100%;
	margin-top: 10px;
  }
  
  .hamb {
	display: none;
  }
  
  .popup {
	display: none;
  }

  .menu > li > a {
	text-decoration: none;
	margin-top: -10px;
	
  }
  .header__wrap .menu {
	display: flex;

  }
  
  .header__wrap .menu > li {
	display: flex;
	align-items: stretch;
  }
  
  .header__wrap .menu > li > a {
	display: flex;
	align-items: center;
	padding: 0 20px;
	color: rgb(0, 0, 0);
	transition: 0,3s;
}
  
  .header__wrap .menu > li > a:hover {
	color: rgb(255, 14, 14);
  }
.list{
    display: flex;
    gap: 45px;
    color: rgb(0, 0, 0);
font-family: Roboto;
font-size: 17px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
text-align: left;
}
.explore{
    max-width: 1440px;
}
.explore_tit{
    color: rgb(0, 0, 0);
    font-family: Risque;
font-size: 52px;
font-weight: 400;
line-height: 64.8px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 64px;
}
.cards{
    display: flex;
    gap: 15px;
}
.card{
    max-width: 422px;
height: 520px;
}
.card_img:last-child{
    height: 500px;
}
.greeting{
    height: 422px;
    height: 70px;
    background:  #FCF0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    transition: 0.3s;
}
.greeting:hover{
    background: rgb(255, 14, 14);
    color: white;
}
.say_tit{
    color: rgb(241, 9, 9);
font-family: Risque;
font-size: 40px;
font-weight: 400;
line-height: 51.84px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 82px;

}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.say{
    max-width: 1440px;
    height: 900px;
}
.footer{
    padding: 64px 28px 0 28px;
    max-width: 1440px;
}
footer{
	background: rgb(250, 132, 132);
}
.footer_top{
    display: flex;
    max-width: 1382.41px;
height: 55px;
justify-content: space-between;
}
.footer_logo{
    width: 135px;
    height: 55px;
}
.footer_icons{
    display: flex;
    gap: 36px;
    max-width: 192px;
    height: 25px;
    align-items: center;
    margin-right: 30px;
}
.footer_icon{
    color: rgba(252, 248, 243, 0.8);
font-size: 15px;
font-weight: 400;
text-align: left;
}
.footer_card{
    max-width: 318.59px;
    height: 246.19px;
}
.footer_cards{
    padding-top: 65px;
	gap: 25px;
}
.card_top{
    width: 319px;
height: 53px;
font-size: 16px;
font-weight: 400;
color: rgba(252, 248, 243, 0.8);
}
.white{
    margin-bottom: 30px;
    width: 320px;
height: 1px;
background: rgba(252, 248, 243, 0.5);
}
.card_bottom{
    width: 318.59px;
height: 172px;
}
.card_tit{
    margin-bottom: 17px;
    color: rgba(252, 248, 243, 0.8);
}
.footer_bottom{
    margin-top: 100px;
    gap: 200px;
}
.bottom_left{
    color: rgba(252, 248, 243, 0.8);
font-size: 15px;
}
.bottom_center{
    display: flex;
    gap: 36px;
}
.center_tit{
    color: rgba(252, 248, 243, 0.8);
font-size: 15px;
}
.bottom_right{
    color: rgba(252, 248, 243, 0.8);
font-size: 15px;
}
.birthday{
	gap: 75px;
    max-width: 1296px;
	margin-left: 50px;
}
.b_top{
    color: rgb(0, 0, 0);
font-family: Rhodium Libre;
font-size: 12px;
font-weight: 400;
line-height: 14.4px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}
.birth_tit{
    color: rgb(255, 14, 14);
font-family: Risque;
font-size: 41px;
font-weight: 400;
line-height: 51.84px;
text-align: left;
max-width: 484px;
margin-bottom: 25px;
}
.birth_txt{
    color: rgb(0, 0, 0);
font-size: 16px;
max-width: 478px;
font-weight: 400;
line-height: 28.8px;
text-align: left;
height: 269px;
margin-bottom: 62px;
}
.header_icons{
	gap: 16px;
}
.birthday_left{
	max-width: 504px;
}
.small_tit{
	margin-left: 190px;
	color:#F10909;
	font-family: Risque;
	font-weight: 400;
	font-size: 54px;
	text-align: center;
	line-height: 64.8px;
	max-width: 893px;
	justify-content: center;
	margin-bottom: 60px;
}
.sellers{
	 max-width: 1440px;
}
.sellers_left{
	max-width: 342px;
	height: 502.52px;
}
.sel_text{
	max-width: 313px;
}
.sel_tit{
	color: rgb(0, 0, 0);
font-size: 40px;
font-weight: 400;
line-height: 51.84px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 20px;
}
.ship{
	max-width: 1440px;
}
.ship_img{
	width: 670px;
}
.sec_txt{
	max-width: 309px;
	color: rgba(33, 40, 6, 0.8);
font-size: 15px;
font-weight: 400;
line-height: 28.8px;
letter-spacing: 0%;
text-align: left;
}
.sellers .btn{
	width: 229px;
	height: 47px;
	transform: rotate(90.00deg);
	box-sizing: border-box;
border: 1px solid rgb(0, 0, 0);
border-radius: 40px;
background: rgb(0, 0, 0);
color: white;
}
.sellers .btn:hover{
	background: white;
	color: #000;
}
.led{
	max-width: 1440px;
}
.led_tit{
	color: rgb(0, 0, 0);
font-family: Risque;
font-size: 53px;
font-weight: 400;
line-height: 64.8px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 65px;
}
.led_cards{
	gap: 28px;
}
.led_card{
	max-width: 300px;
}
.led_img{
	width: 220px;
height: 220px;
margin-left: 30px;
}
.led_txt{
	color: rgb(255, 14, 14);
font-size: 23px;
font-weight: 400;
line-height: 35.28px;
letter-spacing: 0%;
text-align: center;
}
/* .small button{
	margin-left: 550px;
}
.birthday button{
	margin-left: 270px;
} */
.high_img{
	max-width: 620px;
}
.high_right{
	max-width: 576px;
}
.high{
	height: 800px;
	gap: 172px;
	background:rgb(252, 240, 240)
}
.stars{
	margin-top: 115px;
	margin-bottom: 49px;
}
.high_tit{
	width: 419px;
	color: rgb(0, 0, 0);
font-family: Risque;
font-size: 43px;
font-weight: 400;
line-height: 51.84px;
letter-spacing: 0%;
margin-bottom: 60px;
text-align: center;
}
.tirzan{
	color: rgb(0, 0, 0);
font-size: 13px;
font-weight: 400;
line-height: 14.4px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
margin-bottom: 20px;
}
.square{
	box-sizing: border-box;
border: 1px solid rgb(255, 14, 14);
background: rgb(255, 14, 14);
width: 12px;
height: 12px;
}
.squares{
	gap: 6px;
}
